{% load static %}
<!DOCTYPE html>
<head>
    <title>WayWard police department</title>
    <link rel = "stylesheet" href = "{% static '/css/bootstrap.min.css' %}"> 
    <link rel = "stylesheet" href = "{% static '/css/mdb.min.css' %}"> 
    <link rel = "stylesheet" href = "{% static '/css/Config.css'%}">
    <link rel = "stylesheet" href = "{% static '/css/all.css' %}">
    <link rel = "stylesheet" href = "{% static '/css/fontawesome.css' %}">
    <link rel = "stylesheet" href = "{% static '/css/material-icons.css' %}">
</head>
<body>
    <div class = "container-fluid" style="padding:0% !important;">
        <div class = "row">
            <div class = "col-lg-12 col-md-12 col-sm-12 col-xs-12" id = "sidebar">
                <div id = "menuContainer">
                    <nav class="navbar navbar-expand-lg" style="box-shadow:none !important;background-color:#20c997;">
                        <ul class = "navbar-nav mr-auto" id = "menuPlace">
                            <li class = "nav-item LinkText">
                                <a  href = "{% url 'home' %}" class = "nav-link"><i class="fas fa-home"></i></a>
                            </li>
                            <li class = "nav-item LinkText">
                                <a href = "#" class = "nav-link"><i class="fas fa-user"></i></a>
                            </li>
                          <li class = "nav-item LinkText">
                              <a href = "#" class = "nav-link"><i class="fas fa-calendar-alt"></i></a>
                          </li>
                          <li class = "nav-item LinkText">
                              <a href = "#" class = "nav-link"><i class="fas fa-align-left"></i></a>
                          </li>
                        </ul>
                        <form action = "#">
                            <div class = "md-form form-inline input-with-pre-icon">
                                <i class = "fas fa-search input-prefix" style="color:white;"></i>
                                <input name = "searchText" type = "text" style = "color:white;" class = "form-control">
                                <button type = "submit" class = "btn white btn-md" style = "text-align:center;">ፈልግ</button>
                            </div>    
                        </form>
                    </nav>
                </div>
    {% block content %}
       
    {% endblock content %} 
    <script src = "{% static '/js/jquery-3.4.1.min.js' %}"></script>
    <script src = "{% static '/js/bootstrap.min.js' %}"></script>
    <script src = "{% static '/js/Config.js' %}"></script>
</body>